body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-calculator {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid gray;
    width: 250px;
    background-color: beige;
    padding: 20px;
}

button {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-weight: bold;
    border-radius: 10px;
    background-color: gainsboro;
}

#display {
    height: 50px;
    font-size: 35px;
    border: 1px solid black;
    margin: 5px;
    width: 250px;
}

#clear {
    background-color: red;
    color: white;
}

.buttons {
    margin-top: 10px;
    margin-left: 15px;

}

.num {
    background-color: aquamarine;
}