body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
}

.main-calculator {
    display: flex;
    flex-direction: column;
    width: 450px;
    background-color: #455d7a;
    padding: 10px;
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 15px;
}

button {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-color: gainsboro;
    margin: 3.5px;
    font-size: 30px;
}

button:hover {
    background-color: gray;
    cursor: grab;
}

#display {
    height: 50px;
    font-size: 35px;
    border: 1px solid black;
    padding: 15px;
    background-color: aliceblue;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

#clear {
    background-color: #f95959;
    color: white;
}

.buttons {
    display: flex;

}

.num {
    background-color: #9fd3c7;
}

.header {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: rgb(156, 148, 148);
    color: white;
    width: 100%;
    margin-top: auto;
}
.operations {
    text-align: right;
}
